<div class="row">
    <div class="col-auto">
        <h2>Your Dashboard!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a New Post to Share with Gerard's bday group:</h3>

        <form class="form new-blog-form">
            <div class="form-group">
                <label for="blog-title">Post title:</label>
                <input class="form-input" type="text" id="blog-title" name="blog-title" />
            </div>
            <div class="form-group">
                <label for="blog-content">Post content:</label>
                <input class="form-input" type="text" id="blog-content" name="blog-content" </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
        </form>
    </div>
</div>

{{#if blogs.length}}
<div class="col-md-6 blog-list">
    <h3>Your Current Posts:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
        <div class="col-md-6">
            <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
        </div>
        <div class="col-md-6">
            <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
            {{!-- <button class="btn btn-sm btn-danger" id="updateBtn" data-id="{{blog.id}}">UPDATE</button> --}}
            <button class="btn btn-sm btn-danger" id="updateBtn"> <a href="/dashboard/edit/{{blog.id}}"> UPDATE</button>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}


<script src="/js/dashboard.js"></script>


{{!-- <div class="form-group">
    <label for="project-desc">description:</label>
    <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
</div> --}}
{{!-- to submit new blog below (on dashboard page) --}}

{{!-- <input class="form-input" type="text" id="blog-content" name=blog-content" /> --}}